body {
  background-color: #ddd;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.1) rotate(-1deg);
  color: #000;
}

section {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

section main {
  width: 320px;
  aspect-ratio: 1/2;
  /* padding: 1rem;
  border-radius: 1rem;*/
}

section main .title {
  font-size: 2rem;
  color: #999;
  padding: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #eee;
  border-bottom: 1px dotted #eee;
  margin: 0 0 0.1rem 0;
  text-align: center;
}

section main #block {
  background-color: #eee;
  padding: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  line-height: 2rem;
  text-align: center;
}

section main #block p {
  border-bottom: 0.0125rem dotted #999;
  padding-bottom: 1rem;
  text-align: center;
}

section main .block p:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
